@font-face{
	font-family: Manrope-ExtraLight;
	src: url("../fonts/Manrope-ExtraLight.woff2");
}

@font-face{
	font-family: Manrope-Light;
	src: url("../fonts/Manrope-Light.woff2");
}

@font-face{
	font-family: Manrope-Medium;
	src: url("../fonts/Manrope-Medium.woff2");
}

@font-face{
	font-family: Manrope-Regular;
	src: url("../fonts/Manrope-Regular.woff2");
}

@font-face{
	font-family: Manrope-SemiBold;
	src: url("../fonts/Manrope-SemiBold.woff2");
}

@font-face{
	font-family: Manrope-Bold;
	src: url("../fonts/Manrope-Bold.woff2");
}

@font-face{
	font-family: Manrope-ExtraBold;
	src: url("../fonts/Manrope-ExtraBold.woff2");
}