@media (max-width: 1150px) {
    .div-projects {
        width: 758px;
        max-width: 758px;
    }

    .glide {
        width: 758px;
        max-width: 758px;
    }

    #services .desc-services {
        flex-direction: column;
        align-items: center;
    }

    #services .div-service {
        margin-bottom: 64px;
    }

    .devices-home {
        display: none;
    }
}

@media (max-width: 910px) {
    .div-projects {
        width: 379px;
        max-width: 379px;
    }

    .glide {
        width: 379px;
        max-width: 379px;
    }

    .menu,
    .menu2 {
        display: none;
    }

    .menu-mobile {
        display: flex;
    }

    .separate {
        display: block;
    }

    #services {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    #contact {
        padding-top: 128px;
        padding-bottom: 128px;
    }
}

@media (max-width: 768px) {
    .h1-extrabold {
        font-size: 60px;
    }

    .title-contact {
        width: 425px;
    }

    #contact {
        padding-right: 32px;
        padding-left: 32px;
    }

    #about {
        padding-right: 32px;
        padding-left: 32px;
    }

    #about .container {
        height: 800px;
    }

    .div-btn-whatsapp {
        width: 46px;
        height: 46px;
    }
}

@media (max-width: 425px) {
    .h1-extrabold {
        font-size: 50px;
    }

    .h2-bold {
        font-size: 20px;
    }

    .title-contact {
        width: 100%;
    }

    #contact {
        padding-right: 32px;
        padding-left: 32px;
    }

    .div-projects {
        width: 332px;
        max-width: 332px;
    }

    .glide {
        width: 332px;
        max-width: 332px;
    }

    .project-1 {
        width: 300px;
        height: 300px;
    }

    .project-2 {
        width: 300px;
        height: 300px;
    }

    .project-3 {
        width: 300px;
        height: 300px;
    }

    #services .div-service {
        width: 226px;
        height: 282px;
    }

    .div-service .box-1 {
        width: 205px;
        height: 262px;
    }

    .div-service .box-2 {
        width: 205px;
        height: 262px;
    }

    #about .container {
        height: 1000px;
    }

    .menu-mobile .btn-orc {
        width: 240px;
        height: 45px;
        font-size: 25px;
    }
}

@media (max-width: 320px) {
    .div-projects {
        width: 232px;
        max-width: 232px;
    }

    .glide {
        width: 232px;
        max-width: 232px;
    }

    .project-1 {
        width: 200px;
        height: 200px;
    }

    .project-2 {
        width: 200px;
        height: 200px;
    }

    .project-3 {
        width: 200px;
        height: 200px;
    }
}

/*  379 */
